<div class="vp-poll-list-item vp-poll-list-item-voted">
    <div class="vp-header">
        <div class="vp-like">
            <div class="vp-like-counter">341</div>
            <div class="vp-like-buttons">
                <a href="#" class="vp-like-up"></a>
                <a href="#" class="vp-like-dn"></a>
            </div>
            <div class="vp-like-icon"></div>
        </div>
        <div class="vp-author">
            <div class="vp-photo">
                <div></div>
            </div>
            <strong>Рустем Иманбаев</strong>
            <br>
            <span>знающий</span>
        </div>
        <div class="vp-time-n-share">
            <span>11:14 10.09.14</span>
            <a href="#" id="vp-share-more">Еще</a>
        </div>
    </div>
    <div class="vp-question">
        <h3>Как Вам дизайн сайта?</h3>
    </div>
    <ul class="vp-answers">
        <li class="vp-my-answer">
            Восхитительно!!!
            <div><span style="width:58%"><span>58%</span></span></div>
        </li>
        <li>
            Так себе...
            <div><span style="width:34%"><span>34%</span></span></div>
        </li>
        <li>
            Ужасно! Глаза вытекают
            <div><span style="width:8%"><span>8%</span></span></div>
        </li>
    </ul>
    <div class="vp-revote-n-comment">
        <div class="vp-comment-add">
            <textarea rows="5"></textarea>
            <button type="submit" class="vp-button">Добавить комментарий</button>
        </div>
        <ul class="vp-comments">
            <li>
                <span>
                    <a href="#">ответить</a>
                    <span>
                        <a href="#" class="vp-likeup"></a>
                        <a href="#" class="vp-likedn"></a>
                        <i>12</i>
                        <span></span>
                        <strong>Ибрагимов Алмаз</strong>
                        <em>11:15 29.03.2014</em>
                    </span>
                </span>
                Между жителями деревни Фую и хозяином будущих складов, возведение которых планировалось на принадлежащей крестьянам земле, произошел конфликт. Сельчане были недовольны компенсацией, которую им выплатили за конфискацию участка для строительства складских помещений по заказу местного правительства.
            </li>
            <li>
                <span>
                    <a href="#">ответить</a>
                    <span>
                        <a href="#" class="vp-likeup"></a>
                        <a href="#" class="vp-likedn"></a>
                        <i>12</i>
                        <span></span>
                        <strong>Ибрагимов Алмаз</strong>
                        <em>11:15 29.03.2014</em>
                    </span>
                </span>
                Между жителями деревни Фую и хозяином будущих складов, возведение которых планировалось на принадлежащей крестьянам земле, произошел конфликт. Сельчане были недовольны компенсацией, которую им выплатили за конфискацию участка для строительства складских помещений по заказу местного правительства.
            <ul>
                <li>
                    <span>
                        <a href="#">ответить</a>
                        <span>
                            <a href="#" class="vp-likeup"></a>
                            <a href="#" class="vp-likedn"></a>
                            <i>12</i>
                            <span></span>
                            <strong>Ибрагимов Алмаз</strong>
                            <em>11:15 29.03.2014</em>
                        </span>
                    </span>
                    Между жителями деревни Фую и хозяином будущих складов, возведение которых планировалось на принадлежащей крестьянам земле, произошел конфликт. Сельчане были недовольны компенсацией, которую им выплатили за конфискацию участка для строительства складских помещений по заказу местного правительства.
                </li>
                <li>
                    <span>
                        <a href="#">ответить</a>
                        <span>
                            <a href="#" class="vp-likeup"></a>
                            <a href="#" class="vp-likedn"></a>
                            <i>12</i>
                            <span></span>
                            <strong>Ибрагимов Алмаз</strong>
                            <em>11:15 29.03.2014</em>
                        </span>
                    </span>
                    Между жителями деревни Фую и хозяином будущих складов, возведение которых планировалось на принадлежащей крестьянам земле, произошел конфликт. Сельчане были недовольны компенсацией, которую им выплатили за конфискацию участка для строительства складских помещений по заказу местного правительства.
                </li>
                <li>
                    <span>
                        <a href="#">ответить</a>
                        <span>
                            <a href="#" class="vp-likeup"></a>
                            <a href="#" class="vp-likedn"></a>
                            <i>12</i>
                            <span></span>
                            <strong>Ибрагимов Алмаз</strong>
                            <em>11:15 29.03.2014</em>
                        </span>
                    </span>
                    Между жителями деревни Фую и хозяином будущих складов, возведение которых планировалось на принадлежащей крестьянам земле, произошел конфликт. Сельчане были недовольны компенсацией, которую им выплатили за конфискацию участка для строительства складских помещений по заказу местного правительства.
                </li>
            </ul>
            </li>
            <li>
                <span>
                    <a href="#">ответить</a>
                    <span>
                        <a href="#" class="vp-likeup"></a>
                        <a href="#" class="vp-likedn"></a>
                        <i>12</i>
                        <span></span>
                        <strong>Ибрагимов Алмаз</strong>
                        <em>11:15 29.03.2014</em>
                    </span>
                </span>
                Между жителями деревни Фую и хозяином будущих складов, возведение которых планировалось на принадлежащей крестьянам земле, произошел конфликт. Сельчане были недовольны компенсацией, которую им выплатили за конфискацию участка для строительства складских помещений по заказу местного правительства.
            </li>
        </ul>
    </div>
</div>


