<div class="vp-poll-list-item">
    <div class="vp-header">
        <div class="vp-like">
            <div class="vp-like-counter">9999</div>
            <div class="vp-like-buttons">
                <a href="#" class="vp-like-up"></a>
                <a href="#" class="vp-like-dn"></a>
            </div>
            <div class="vp-like-icon"></div>
        </div>
        <div class="vp-author">
            <div class="vp-photo">
                <div></div>
            </div>
            <strong>Сакен Карагалин</strong>
            <br>
            <span>продвинутый новичек</span>
        </div>
        <div class="vp-time-n-share">
            <span>21:34 11.10.14</span>
            <a href="#" id="vp-share-more">Еще</a>
        </div>
    </div>
    <div class="vp-question">
        <h3>Дизайн паттерндер. 4-сабақ. Құру паттерндері (Creational patterns)</h3>

    </div>
    <div>
        <strong>Аты:</strong> Singleton<br/>
        <strong>Проблема:</strong> Класс объектісін құру ресурстарды (уақыт, жад) көп кетіреді.<br/>
        <strong>Шешім:</strong> Бүкіл жүйеге бір ғана класс объектісін құрып, соны қолдану. Басқа класс объектілерінің құрылуын болдырмау.
    </div>
     <div class="vp-revote-n-comment">
        <a href="./comment.html" class="vp-comment-link">
            <strong></strong>
            <span>3125</span>
            комментировать
        </a>
    </div>
</div>