<div class="vp-enter">
	<h3 class="vp-enter-header">Авторизация</h3>
	<div class="vp-enter-text">
		Здравствуйте, рады Вас приветствовать на ITBLOG.kz. Для авторизации используйте ваш аккаунт социальной сети.
	</div>
	<div class="vp-social-buttons">
		<a href="#" class="vp-button vp-button-facebook">Facebook</a>
		<a href="#" class="vp-button vp-button-google">Google</a>
		<a href="#" class="vp-button vp-button-mailru">Mail.Ru</a>
		<a href="#" class="vp-button vp-button-vk">В Контакте</a>
	</div>
</div>