<div class="vp-newpoll">
    <h3>Добавить опрос</h3>

    <div class="vp-newpoll-title">
        <label for="vp-newpoll-title">Заголовок <sup>*</sup></label>
        <input id="vp-newpoll-title" type="text" value="" />
    </div>

    <div class="vp-newpoll-category">
        <label for="vp-newpoll-category">Категория <sup>*</sup></label>
            <div>
                <select id="vp-newpoll-category">
                    <option>Спорт</option>
                    <option>Наука и Техника</option>
                    <option>Политика</option>
                    <option>Экономика</option>
                    <option>Отдых и Туризм</option>
                    <option>Семья и Общество</option>
                    <option>Шоу-бизнес</option>
                    <option>Красота</option>
                </select>
            </div>
    </div>

    <div class="vp-newpoll-text">
        <label for="vp-newpoll-text">Текст опроса</label>
        <textarea id="vp-newpoll-text"></textarea>
    </div>


    <div class="vp-newpoll-attachment-image">
        <label for="vp-attachment-image">Изображение:</label>
        <input id="vp-attachment-image" type="file" name="image" />
    </div>
    <div class="vp-newpoll-attachment-youtube">
        <label for="vp-attachment-youtube">Код ролика YouTube:</label>
        <input id="vp-attachment-youtube" type="text" name="youtube" />
    </div>


    <div class="vp-newpoll-answers">
        <label for="vp-newpoll-category">Варианты ответов <sup>*</sup></label>
        <ul>
            <li><input type="text" name="answer[]" /></li>
            <li><input type="text" name="answer[]" /></li>
            <li><input type="text" name="answer[]" /><a href="#">&times;</a></li>
        </ul>
        <button class="vp-button vp-button-addanswer">+</button>
    </div>

    <div class="vp-newpoll-buttons">
        <button class="vp-button vp-button-viewpoll">Предпросмотр</button>
        <button class="vp-button vp-button-addpoll">Добавить</button>
    </div>
</div>
